/* Navigation Bar */

/* on hover dropdown list will appear */
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  /* .navbar .nav-item:hover .nav-link{   } */
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}

* {
  font-family: "Playfair Display", serif;
}

/* background of navigation bar */
#navigation {
  background-color: #F3AA20;
  font-weight: 1000;
}

/* Website Title */
#navigation-title {
  color: #2A445E;
}

/* Each Navigation Tab */
#navigation-tab {
  color: #346B6D;
  padding-left: 5px;
  font-size: 1.2vw;
}

#navigation-tab:hover {
  color: #F3AA20;
  background-color: #346B6D;
  padding-left: 5px;
  border-radius: 5px;
}

/* Dropdown List */
#navigation-dropdown {
  color: #346B6D;
  background-color: #F3AA20;
  font-weight: 1000;
  font-size: 1.2vw;
}

#navigation-dropdown:hover {
    color: #F3AA20;
    background-color: #346B6D;
  }

/* Join Us Button */
#joinus-button {
  background-color: #2A445E;
  border: none;
  padding-inline: 1vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  font-weight: 1000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2vw;
  transition-duration: 0.4s;
  cursor: pointer;
  color: #f3c97a;
  border: 2px solid #2A445E;
  border-radius: 20px;
  width: 10vw;
}

#joinus-button:hover {
  background-color: #f3c97a;
  color: #2A445E;
}

/* footer */
#footer{
    background-color: #F3AA20;
    color: #346B6D;
}

/* subscribe button */
#subscribe-button{
  background-color: #2A445E;
  border: none;
  font-weight: 1000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  transition-duration: 0.4s;
  cursor: pointer;
  color: #f3c97a;
  border: 2px solid #2A445E;
}

#subscribe-button:hover {
  background-color: #f3c97a;
  color: #2A445E;
}

/* scrollbar */
body::-webkit-scrollbar {
  width: 0.7em;
  background-color: #2A445E;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #f3c97a;
  outline: 1px solid slategrey;
  border-radius: 20px;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}